
    <div class="game_header" style="background-color: rgb(58, 51, 96);">
        <h2>CAMPAIGN TRAIL SHOWCASE</h2>
    </div>
    <div class="inner_window_w_desc" id="inner_window_3">
        <div id="candidate_form">
            <form name="candidate">
                <p> </p>
                <h3>Please select your candidate:</h3> <select name="candidate_id" id="candidate_id">
                    <option value="300">Joe Biden</option>
                    <option value="301">Donald Trump</option>
                </select>
                <p></p>
            </form>
        </div>
        <div class="person_description_window" id="candidate_description_window">
            <div class="person_image" id="candidate_image"> <img src="../static/images/joe-biden-2020.jpg" width="210"
                    height="250"> </div>
            <div class="person_summary" id="candidate_summary">
                <ul>
                    <li>Name: Joe Biden</li>
                    <li>Party: Democrat</li>
                    <li>Home State: Delaware</li>
                </ul>
                <p>Joe Biden came back from the dead to win the Democratic Party's nomination, and seems to enter the
                    campaign slightly ahead in the polls against incumbent Donald Trump. Emotions are running high, even
                    more than usual, in this campaign. Can Biden live up to his promise to calm tensions, or will he be
                    overwhelmed by events?</p>
            </div>
        </div>
        <p><button class="person_button" id="candidate_id_back">Back</button> <button class="person_button"
                id="candidate_id_button">Continue</button> </p>
    </div>
