
    <div class="inner_window_w_desc" id="inner_window_4">
        <div id="running_mate_form">
            <form name="running mate">
                <p></p>
                <h3>Please select your running mate:</h3> <select name="running_mate_id" id="running_mate_id">
                    <option value="304">Kamala Harris</option>
                    <option value="305">Susan Rice</option>
                    <option value="314">Tammy Duckworth</option>
                    <option value="313">Val Demings</option>
                    <option value="306">Karen Bass</option>
                    <option value="307">Gretchen Whitmer</option>
                    <option value="308">Elizabeth Warren</option>
                </select>
                <p></p>
            </form>
        </div>
        <div class="person_description_window" id="running_mate_description_window">
            <div class="person_image" id="running_mate_image"> <img src="../static/images/kamala-harris-2020.jpg"
                    width="210" height="250"> </div>
            <div class="person_summary" id="running_mate_summary">
                <ul>
                    <li>Name: Kamala Harris</li>
                    <li>Party: Democrat</li>
                    <li>Home State: California</li>
                </ul>
                <p>Kamala Harris is a Senator from California who made her own run for President in 2020. She would be
                    acceptable to moderates and financial supporters, has some appeal to progressives, and brings
                    diversity to the ticket. She's not the preferred choice of most progressives.</p>
            </div>
        </div>
        <p><button class="person_button" id="running_mate_id_back">Back</button> <button class="person_button"
                id="running_mate_id_button">Continue</button> </p>
    </div>
