.FullscreenButton {
  position: absolute;
  padding: 16px;
}

.App {
  display:flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}

.Editor {
  display:flex;
  flex-direction: column;
  gap:16px;
  padding:16px;
  overflow-y: scroll;
  max-height: 95%;
}

.Settings {
  display:flex;
  flex-direction: column;
  gap:16px;
  padding:16px;
}

html, .App, body, #root{
  height: 100%;
}

.EditorButton, .FilterButton {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  color: #3d3d3d;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  position: relative;
  outline: solid gainsboro 1px;
  margin:8px;
}

.FilterButton {
  margin:0;
  box-shadow: none;
  border-radius: 0;
}

.SelectedFilterButton {
  background-color: lightgray;
}


.RedButton {
  background-color: rgb(221, 30, 30);
  outline: solid darkred 1px;
  color: white;
}

.GreenButton {
  background-color: rgb(78, 173, 75);
  outline: solid darkgreen 1px;
  color: white;
}

.FilterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}